* {
    margin: 0;
    padding: 0;
}

/* i set root for better view because it is not responsive design */
:root {
    --desktop-width: 100%;
    --primary-color: #469165;
}

/* NOTE : Please change the width of body according to your screen size. */
body {
    margin: auto;
    font-family: 'Inter';
}

/* Header Section Start*/

/* Nav Design Start */
.nav-bar {
    min-height: 92px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter';
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 15px 0px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: black;
}

.nav-bar ul li a:hover {
    color: #469165;
}

.nav-logo {
    margin-left: 50px;
}


.nav-logo img {
    height: 60px;
    width: 139px;
}

.nav-bar button {
    margin-right: 50px;
    height: 44px;
    width: 164px;
    border-radius: 4px;
    color: white;
    background-color: #469165;
    border-color: transparent;
    font-size: 16px;
}

.nav-bar button:hover {
    background-color: transparent;
    color: #469165;
    border-color: #469165;
}

@media (max-width: 576px) {
    .nav-logo {
        margin-left: 20px;
    }

    .nav-menu {
        display: none !important;
    }

    .nav-bar button {
        display: none !important;
    }


}

/* Nav Design End */

/* Banner Design Start */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 674px;
    background-image: url(../assets/hero-bg.png);
    opacity: 0.9;

}

.banner-content {
    width: 100%;
    min-height: 379px;
    /* background: #f35858; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.badges {
    color: var(--primary-color);
    background: white;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 1000px;
}

.dot {
    width: 10px;
    height: 10px;
    background: #2f7a4f;
    border-radius: 50%;
    display: inline-block;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
        background: #02f56b;
    }

    100% {
        transform: scale(1);
    }
}


.banner-content h1 {
    line-height: 84px;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    color: white;
    letter-spacing: 0%;
}

.banner-content p {
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0%;
}

.banner-btn {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.banner-btn button {
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}

.b-btn-1 {
    color: white;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
}

.b-btn-1:hover {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid;
    border-color: var(--primary-color);
}

.b-btn-2 {
    color: white;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-color: white;
}

.b-btn-2:hover {
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.b-btn-icon {
    width: 18px;
    height: auto;
}

@media (max-width: 576px) {

    .banner-content h1 {
        font-size: 3rem;
    }

    .banner-content p {
        font-size: 0.9rem;
        margin: 0px 20px;
    }

    .banner-btn {
        flex-direction: column;
    }

    .banner-btn button {
        padding: 8px 12px;
        font-size: 11px;
    }

}

/* Banner Design End */

/* App Section-1 Start */
.app-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 448px;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
}

.app-1 h1 {
    color: black;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}

.app-1 p {
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    margin: 10px 0px;
}

.info-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 24px;
    gap: 16px;
}

@media (max-width : 576px) {
    .info-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .app-1 h1 {
        font-size: 1.8rem;
    }

    .app-1 p {
        font-size: 0.9rem;
        margin: 10px 30px;
    }
}

.info-cards h2 {
    text-align: center;
    margin: 10px 0px;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;

}

.info-cards p {
    text-align: center;
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    color: #627382;
}

.i-c-structure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 322px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow:
        0 8px 24px rgba(0, 0, 0, 0.08),
        0 2px 6px rgba(0, 0, 0, 0.09);
    margin: 20px 0px;
}

.i-c-icon img {
    width: 32px;
    height: 32px;
}

.i-c-icon {
    background-color: #f95555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* App Section-1 End */

/* App Section-2 Start */
.app-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: auto;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}



.knowledge-img {
    width: 600px;
    height: 600px;
}

.app-2-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 30px;
    min-height: 600px;
    width: 100%;
}


.a-2-li img {
    height: 20px;
    width: 20px;
}

.a-2-li {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px;
}

.app-2-info h3 {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    margin-top: 90px;
    margin-bottom: 20px;

}

.app-2-info h1 {
    color: black;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 120%;

}

.app-2-info p {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 10px;
}

@media (max-width:576px) {
    .app-2 {
        flex-direction: column;
        margin-left: 0px;

    }

    .knowledge-img {
        width: 350px;
        height: 350px;
    }

    .app-2-info {
        margin-left: 60px;
    }


}

/* App Section-2 END */

/* Early Access Section Start */
.early-access {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

}

.early-access-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 384px;
    width: 80%;
    border-radius: 8px;
    background: #F7f6f2;
}

.early-access-info * {
    margin: 10px 0px;
}

.early-access-info p {
    color: #627382;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.ea-btn-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    max-width: 194px;
    min-height: 52px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 16px;
    gap: 10px;
    box-shadow: 0.5px black;

}

.ea-btn-1:hover {
    background-color: #627382;
    color: #469165;
    border: 2px solid;
    border-color: #469165;
}

@media (max-width:576px) {
    .early-access-info h1 {
        font-size: 1.6rem;
    }

    .early-access-info p {
        font-size: 0.9rem;
        margin: 0px 30px;
    }

    .ea-btn-1 {
        padding: 8px 12px;
    }

    .early-access-info {
        width: 100%;
    }

}

/* Early Access Section End */
/* Footer Content Start */
footer {
    min-height: 348px;
    width: 100%;
    background: #001931;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 100%;
    min-height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    padding: 20px 0px;
}

.social {
    margin-right: 30px;
}

.social img {
    size: 20px;
    width: 20px;
    margin-right: 10px;
}

.social h2 {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.copyright {
    margin-top: 30px;
    width: 1360px;
    height: 64px;
}

.copyright p {
    text-align: center;
}

.solid {
    border: 1px solid #627382;
    width: 100%;
    margin-top: 80px;
}

@media (max-width:576px) {
    .footer-content{
        width: 90%;
    }
    .solid{
        width: 50%;
    }
    
}

/* Footer Content End */