*{
    margin:0;
    padding:0;
}
/* i set root for better view because it is not responsive design */
:root{
    --desktop-width: 1536px;
    --primary-color: #469165;
}
/* NOTE : Please change the width of body according to your screen size. */
body{
    width : var(--desktop-width);
    margin: auto;
}
/* Header Section Start*/
.nav-bar{
    height: 92px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter';
}

.nav-bar ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 15px 0px;
}

.nav-bar ul li a{
    text-decoration: none;
    color:black;
}

.nav-bar ul li a:hover{
    color: #469165;
}

.nav-logo{
    margin-left: 50px;
}
.nav-logo img{
    height: 60px;
    width: 139px;
}

.nav-bar button{
    margin-right: 50px;
    height: 44px;
    width: 164px;
    border-radius: 4px;
    color: white;
    background-color:#469165;
    border-color: transparent;
    font-size: 16px;
}

.nav-bar button:hover{
    background-color: transparent;
    color: #469165;
    border-color:#469165;
}