* {
    margin: 0;
    padding: 0;
}

/* i set root for better view because it is not responsive design */
:root {
    --desktop-width: 1536px;
    --primary-color: #469165;
}

/* NOTE : Please change the width of body according to your screen size. */
body {
    width: var(--desktop-width);
    margin: auto;
    font-family: 'Inter';
}

/* Header Section Start*/

/* Nav Design Start */
.nav-bar {
    height: 92px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter';
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 15px 0px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: black;
}

.nav-bar ul li a:hover {
    color: #469165;
}

.nav-logo {
    margin-left: 50px;
}

.nav-logo img {
    height: 60px;
    width: 139px;
}

.nav-bar button {
    margin-right: 50px;
    height: 44px;
    width: 164px;
    border-radius: 4px;
    color: white;
    background-color: #469165;
    border-color: transparent;
    font-size: 16px;
}

.nav-bar button:hover {
    background-color: transparent;
    color: #469165;
    border-color: #469165;
}

/* Nav Design End */

/* Banner Design Start */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--desktop-width);
    height: 674px;
    background-image: url(../assets/hero-bg.png);
    opacity: 0.9;

}

.banner-content {
    width: 1360px;
    height: 379px;
    /* background: #f35858; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.badges {
    color: var(--primary-color);
    background: white;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 1000px;
}

.dot {
    width: 10px;
    height: 10px;
    background: #2f7a4f;
    border-radius: 50%;
    display: inline-block;
}

.banner-content h1 {
    line-height: 84px;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    color: white;
    letter-spacing: 0%;
}

.banner-content p {
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0%;
}

.banner-btn {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.banner-btn button {
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}

.b-btn-1 {
    color: white;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
}

.b-btn-1:hover {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid;
    border-color: var(--primary-color);
}

.b-btn-2 {
    color: white;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-color: white;
}

.b-btn-2:hover {
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.b-btn-icon {
    width: 18px;
    height: auto;
}

/* Banner Design End */

/* App Section-1 Start */
.app-1 {
    display: flex;
    flex-direction: column;
    width: var(--desktop-width);
    height: 448px;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
}

.app-1 h1 {
    color: black;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}

.app-1 p {
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    margin: 10px 0px;
}

.info-cards {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 24px;
    gap: 16px;
}

.info-cards h2{
    text-align: center;
    margin: 10px 0px;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;

}

.info-cards p{
    text-align: center;
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    color: #627382;
}
.i-c-structure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 322px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow:
        0 8px 24px rgba(0, 0, 0, 0.08),
        0 2px 6px rgba(0, 0, 0, 0.09);
    margin: 20px 0px;
}

.i-c-icon img {
    width: 32px;
    height: 32px;
}

.i-c-icon {
    background-color: #f95555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* App Section-1 End */

/* App Section-2 Start */
.app-2{
    display: flex;
    flex-direction: row;
    width: var(--desktop-width);
    height: 840px;
    justify-content: center;
    align-items: center;
    
}

.app-2 img {
    width: 600px;
    height: 600px;
}

.app-2-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 30px;
    height: 600px;
    width: 700px;
}


.a-2-li img{
    height: 20px;
    width: 20px;
}

.a-2-li {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px;
}
.app-2-info h3{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    margin-top: 90px;
    margin-bottom: 20px;

}
.app-2-info h1{
    color: black;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 120%;
    
}   

.app-2-info p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 10px;
}

footer{
    height: 348px;
    width: var(--desktop-width);
    background:#001931;
    color: #ffffff;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.footer-content
{
    width: 1360px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}

.social{
    margin-right: 30px;
}
.social img{
    size: 20px;
    width: 20px;
    margin-right: 10px;
}
.social h2{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.copyright{
    margin-top: 80px;
    width: 1360px;
    height: 64px;
    border-top: 1px solid #627382;
}
.copyright p{
    text-align: center;
    padding-top: 40px;
}