*{
    margin:0;
    padding:0;
}
/* i set root for better view because it is not responsive design */
:root{
    --desktop-width: 1536px;
    --primary-color: #469165;
}
/* NOTE : Please change the width of body according to your screen size. */
body{
    width : var(--desktop-width);
    margin: auto;
    font-family: 'Inter';
}
/* Header Section Start*/

/* Nav Design Start */
.nav-bar{
    height: 92px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter';
}

.nav-bar ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 15px 0px;
}

.nav-bar ul li a{
    text-decoration: none;
    color:black;
}

.nav-bar ul li a:hover{
    color: #469165;
}

.nav-logo{
    margin-left: 50px;
}
.nav-logo img{
    height: 60px;
    width: 139px;
}

.nav-bar button{
    margin-right: 50px;
    height: 44px;
    width: 164px;
    border-radius: 4px;
    color: white;
    background-color:#469165;
    border-color: transparent;
    font-size: 16px;
}

.nav-bar button:hover{
    background-color: transparent;
    color: #469165;
    border-color:#469165;
}
/* Nav Design End */

/* Banner Design Start */

.banner{
    display: flex;
    justify-content: center;
    align-items:center;
    width: var(--desktop-width);
    height: 674px;
    background-image: url(../assets/hero-bg.png);
    opacity: 0.9;

}

.banner-content{
    width: 1360px;
    height: 379px;
    /* background: #f35858; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.badges{
    color: var(--primary-color);
    background: white;
    padding:8px 12px;
    font-size: 16px;
    border-radius: 1000px;
}

.dot{
    width: 10px;
    height: 10px;
    background: #2f7a4f;
    border-radius: 50%;
    display: inline-block;
}

.banner-content h1{
    line-height: 84px;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    color: white;
    letter-spacing: 0%;
}

.banner-content p{
    color: white;
    text-align: center;
    font-size:18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0%;
}
